.toolBar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

/* logo */
.logo {
  /* color: blue; */
  cursor: pointer;
}

/* link */
.link {
  color: #000;
}

/* menuIcon */
.menuIcon {
  color: #000;
}

/* formContainer */
.formContainer {
  flex-grow: 1;
  padding: 10px;
  max-width: 700px;
  margin: 30px auto;
}

@media (min-width: 600px) and (max-width: 959px) {
  .formContainer {
    width: 100%;
  }
}

/* form */
.form {
  margin-top: 30px;
}

/* formHeading */
.formHeading {
  text-align: center;
}

/* heroBox */
.heroBox {
  width: 100%;
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

/* gridContainer */
.gridContainer {
  display: flex;
  align-items: center;
  max-width: 1300px;
  padding: 50px;
}

/* aboutUsContainer */
.aboutUsContainer {
  width: 100%;
  display: flex;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 50px 0;
}

/* aboutUsSubtitle */
.aboutUsSubtitle {
  opacity: 0.7;
  padding-bottom: 30px;
  font-size: 18px;
}

/* title */
.title {
  padding-bottom: 15px;
}

/* subtitle */
.subtitle {
  opacity: 0.4;
  padding-bottom: 30px;
}

/* largeImage */
.largeImage {
  width: 100%;
}

/* sectionGridContainer */
.sectionGridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
}

/* sectionGridItem */
.sectionGridItem {
  background-color: #f2f0f1;
  text-align: center;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  margin: 10px !important;
}

/* inputField */
.inputField {
  margin-bottom: 20px !important;
}

/* textArea */
.textArea {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
}

/* footerContainer */
.footerContainer {
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 20px;
  justify-content: center;
  background-color: #f2f0f1;
  flex-direction: column;
}

/* footerText */
.footerText {
  padding-bottom: 10px;
}

/* footerDate */
.footerDate {
  opacity: 0.4;
}

/* testimonialCard */
.testimonialCard {
  background-color: #fff;
  padding: 10px;
  min-height: 200px;
  display: flex;
  align-items: center;
}

/* testimonialStatement */
.testimonialStatement {
  padding-bottom: 25px;
}

/* avatar */
.avatar {
  margin-right: 10px;
}

/* testimonialPosition */
.testimonialPosition {
  font-size: 14px;
  opacity: 0.6;
}